repository/pipeline/silver_tables_usp_Pipeline_dynamic.json
{
	"name": "silver_tables_usp_Pipeline_dynamic",
	"properties": {
		"activities": [
			{
				"name": "Delete_existent_file",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 3000,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_nyc_data_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"foldername": {
								"value": "@variables('folderpath')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "create_taxizone_usp",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete_existent_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@variables('storedprocedure')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_serverless_sqlpool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"folderpath": {
				"type": "String",
				"defaultValue": "silver_layer/calendar"
			},
			"storedprocedure": {
				"type": "String",
				"defaultValue": "silver.usp_calender"
			}
		},
		"folder": {
			"name": "testing"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-30T15:51:53Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}